configuration{
    modi: "emoji";
    lines: 0;
    font: "Jetbrains mono nerd font 11";
    show-icons: true;
    /*icon-theme: "Oranchelo";*/
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-emoji: "󰞅"; 
    sidebar-mode: false;
}

@theme "catppuccin-mocha"

listview {
    lines: 8;
    columns: 6;
    padding: 0px;
    border: none;
}

entry {
    placeholder: "Search emoji";
}

