configuration{
    modi: "";
    lines: 8;
    font: "Jetbrains mono nerd font 11";
    show-icons: true;
    /*icon-theme: "Oranchelo";*/
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    sidebar-mode: false;
}

@theme "catppuccin-mocha"

mainbox {
    padding: 2px 10px 2px 10px;
}


listview {
    lines: 0;
    padding: 0px;
    border: none;
}
