configuration{
    lines: 0;
    font: "Jetbrains mono nerd font 11";
    show-icons: true;
    /*icon-theme: "Oranchelo";*/
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    sidebar-mode: false;
}

@theme "catppuccin-mocha"

listview {
    lines: 3;
    columns: 3;
    padding: 0px;
    border: none;
}

element {
    padding: 25px 0px 25px 10px;
}
